body {
    margin: 0;
    height: 50vw;

    display: grid;
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer"
    ;

    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: 1fr 250px;
}

header {
 grid-area: header;
 background-color: aquamarine;
 /* adicionando Flexbox */
 display: flex;
 justify-content: space-between;
 align-items: center;

 padding: 8px;
}

main {
 grid-area: main;
 background-color: skyblue;   
}

aside {
 grid-area: aside;
 background-color: rgb(89, 126, 237);   
}

footer {
 grid-area: footer;
 background-color: slateblue;   
}
