@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.container{
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}

button{
    display: flex;
    align-items: center;
    line-height: 0;

    gap: .4rem;
}

button img{
    width: 2rem;
    height: 2rem;
}